{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div id="notification" class="notification">
        <span id="notificationMessage" class="notification-message"></span>
        <button id="notificationClose" class="notification-close">&times;</button>
    </div>
    
    
    <div class="wrapper" id='wrapper'>
        <span class="bg-animate"></span>
        <span class="bg-animate2"></span>
        <div class="form-box login">
            <h2 class="animation" style="--i:0; --j:21;">Login</h2>
            <form action="login" method="POST">
                {% csrf_token %}
                <div class="input-box animation" style="--i:1; --j:22;">
                    <input type="text" name="username" required>
                    <label>Username</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box animation" style="--i:2; --j:23;">
                    <input type="password" name="password" required>
                    <label>Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn animation" style="--i:3; --j:24;">Login</button>
                <div class="logreg-link animation" style="--i:4; --j:25;">
                    <p>Don't have an account? <a id="signup-link" href="#" class="register-link">Sign Up</a></p>

                </div>
            </form>
        </div>
        <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:20;">Welcome Back!</h2>
            <p class="animation" style="--i:1; --j:21;">Pelase login and enjoy my website guys!</p>
        </div>

        <div class="form-box register">
            <h2 class="animation" style="--i:17; --j:0;">Sign Up</h2>
            <form action="signup" method='POST'>
                {% csrf_token %}
                <div class="input-box animation" style="--i:18; --j:1;">
                    <input type="text" name="username" required>
                    <label>Username</label>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box animation" style="--i:19; --j:2;">
                    <input type="text" name='email' required>
                    <label>Email</label>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box animation" style="--i:20; --j:3;">
                    <input type="password" name='password' required>
                    <label>Password</label>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn animation" style="--i:21; --j:4;">Sign Up</button>
                <div class="logreg-link animation" style="--i:22; --j:5;">
                    <p>Already have an account? <a id="login-link" href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
        
        <div class="info-text register">
            <h2 class="animation" style="--i:17; --j:0;">Welcome Back!</h2>
            <p class="animation" style="--i:18; --j:1;">Please register to join with me me guys!</p>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Ambil tautan dengan ID "signup-link"
          const signupLink = document.getElementById("signup-link");
        
          // Tambahkan event listener untuk saat tautan diklik
          signupLink.addEventListener("click", function(event) {
            // Cegah tindakan default dari tautan
            event.preventDefault();
        
            // Ubah URL tautan menggunakan pushState
            history.pushState(null, null, "{% url 'signup' %}");
          });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Ambil tautan dengan ID "login-link"
          const loginLink = document.getElementById("login-link");
        
          // Tambahkan event listener untuk saat tautan diklik
          loginLink.addEventListener("click", function(event) {
            // Cegah tindakan default dari tautan
            event.preventDefault();
        
            // Ubah URL tautan menggunakan pushState
            history.pushState(null, null, "{% url 'login' %}");
          });
        });
        </script>
        
</body>
</html>


